body{
     font-family:'Poppins', sans-serif;
     max-width:1280px;
     margin:0 auto;
     background-color:#ebebebad;
     color:#ffff;
}
.modo-escuro{
     background-color:#030303b4;
     color:#f5f5f5;
}

header{
     display:flex;
     justify-content:space-between;
     padding:25px;
}

header .logo,
header .imagem-botao{
     width:27px;
     transition:0.2s ease-in-out;
}
/*#botao-alterar-tema*/
header .imagem-botao{
     background:none;
     border:none;
}

header .logo:hover,
header .imagem-botao:hover{
     transform: scale(1.05);
     cursor:pointer;
}

main .cartao-pokemon:hover{
     transform: scale(1.05);
     cursor:pointer;
     box-shadow: 3px  2px 6px #000000;
     border:1px solid #fac106;
}

main{
     padding:25px;
}

main .listagem-pokemon{
     display:flex;
     flex-wrap:wrap;
     gap:30px;
     justify-content:center;
}
main .cartao-pokemon{
     background-image:url("../imagens/fundo-pokemon.png");
     background-position:50%;
     background-size:100%;
     background-repeat:no-repeat;
     width:200px;
     padding:15px;
     display:flex;
     flex-direction:column;
     align-items:center;
     gap:15px;
     border-radius:15px;
     transition:0.2s ease-in-out;
}

main .cartao-pokemon:hover{
     background-color:#96d9d6;
}

.modo-escuro .cartao-pokemon{
     background-color: #ffff;
}

main .cartao-pokemon .informacoes{
     display:flex;
     justify-content:space-between;
     border:1px solid #ffff;
     border-radius:10px;
}

main .cartao-pokemon .informacoes span{
     padding:5px;
     text-transform:uppercase;
     font-size:17px;
}

main .cartao-pokemon  .gif{
     width:80px;
    height:80px;
}

main .cartao-pokemon .tipos{
      display:flex;
      gap:15px;
      margin:10px;
}

main .cartao-pokemon .tipo{
    padding:8px;
    border-radius:10px;
    color:white;
}
.grama{
    background-color: #7ac74c;
}

.veneno{
    background-color:#df67ddfb;
}
.fogo{
    background-color:#ee8130;
}
.flyng{
    background-color:#31c3e7;
}
.Agua{
    background-color:#16a6fa
}
.inserter{
    background-color:#57b422;
}
.Pupa{
    background-color: #2dc7a0;
}
.Electr{
    background-color:rgb(252, 208, 14);
}

main .descricao{
    max-height:90px;
    width:200px;
    overflow-y:scroll;
    font-size:14px;
    padding:5px;
    align-items:justify;
    color:white;
}